body{
    margin: 0;
}

.wrapper{
    margin: 0;
    padding: 0;
    display: flex;
}

.left-block, .right-block{
    width: 50vw;
    height: 100vh;
}
.left-block{
    position: relative;
    background-image: url(../images/bg2.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-block:before{
    position: absolute;
    content: '';
    background-image: url(../images/logo.png);
    top: 100px;
    left: 100px;
    width: 180px;
    height: 80px;
}

.right-block{
    padding: 0 40px;
}

.right-block form{
    margin: 20px auto;
    width: calc(100% - 80px);
    max-width: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.right-block form input {
    margin-bottom: 20px;
}

a{
    text-decoration: none !important;
    color: black;
}
a.add{
    font-family: Arial, FontAwesome, sans-serif;
    color: white;
}
a.table-link{
    color: grey;
}
a.table-link:hover{
    color: black;
    transition: 0.3s;
}
header{
    padding: 20px 40px;
    border-top: 2px solid rgba(114, 114, 114, 0.2);
    border-bottom: 2px solid rgba(114, 114, 114, 0.2);
}
a.logo{
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
}

.div-logo{
    margin: 100px auto;
    width: calc(100% - 80px);
    max-width: 400px;
}

header a.active{
    border-bottom: 2px solid #D4A373;
}
header a.menu{
    float: right;
    margin: 20px 0 auto 10px;
    font-weight: 700;
}
.content{
    padding: 10px 40px;
}
input{
    font-family: Arial, FontAwesome, sans-serif;
}
input:focus{
    background: rgba(212, 163, 115, 0.27);
    transition: 0.3s;
}
h4{
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #D4A373;
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
h1.h-logout{
    margin: 10px auto;
    width: calc(100% - 80px);
    max-width: 400px;
}
.btn{
    padding: 6px 8px;
    border-radius: 6px;
    margin: 0 0 10px 0;
}
.search{
    border: 1px solid rgba(114, 114, 114, 0.2);
    padding: 10px;
    min-width: 300px;
}
.add{
    border: 2px solid #D4A373;
    background: #D4A373;
    color: white;
    float: right;
}
.google{
    color: white;
    border: 2px solid black;
    background: black;
}
.add:hover{
    background: #836847;
    border: 2px solid #836847;
    transition: 0.3s;
}
.google:hover{
    background: grey;
    border: 2px solid grey;
    transition: 0.3s;
}
table{
    margin: 20px 0;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}
table thead tr, table tbody tr{
    border-bottom: 1px solid rgba(114, 114, 114, 0.2);
}
thead{
    color: #6C757D;
}
tbody{
    color: #495057;
}

thead tr, tbody tr{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

tbody tr td img{
    vertical-align: middle;
}

tbody tr td{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    vertical-align: middle;
}

td i{
    color: #000000;
    font-weight: 100;
}

td{
    margin: 6px 0;
    padding: 8px 8px;
    border: none;
    text-align: left;
}

label{
    margin-bottom: 6px;
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.a-link{
    color: #D4A373;
}

form p{
    margin: 0;
}

form p a{
    text-align: right;
}