$borderHeader: rgba(114, 114, 114, 0.2);
$white: #fff;
$lightBrown: #D4A373;
$lightBrown44: #D4A37344;
$darkBrown: #836847;
$grey: #808080FF;
$grey2: #6C757D;
$grey3: #495057;
$black: #000;
$fontSpartan: 'Spartan', sans-serif;
$fontRoboto:  'Roboto Light', sans-serif;
$fontLora: 'Lora', serif;