//main block
//variables
$bgColor: rgb(13, 26, 19);
$textColor: invert($bgColor);
$fontSize: 1.0em;
$minWidth: 300px;

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@mixin borders($border){
  border: $border solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #d359ff);
}

@function setFontSize($point){
  $result: $point * $fontSize;
  @return $result;
}

html, body {
  width: 100%;
  min-width: $minWidth;
  margin: 0 auto;
  background: $bgColor url(/files/bg.jpg) no-repeat fixed center top;
  background-size: 100% auto;
  color: $textColor;
  font-size: $fontSize;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

header {
  background: linear-gradient(to left, rgba(0, 200, 83, 0.5), rgba(211, 89, 255, 0.5));
  width: 100%;
  padding: 20px 0 20px;
  & .logo{
    margin-left: 20%;
    margin-right: 20%;
    & > a {
      line-height: 0.8;
      font-size: 7vw;
      font-family: 'Staatliches', cursive;
      & > .spanHead {
        font-weight: bolder;
        background: linear-gradient(to left, #00C853, #d359ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      & > .spanHead2 {
        font-size: 5vw;
        font-weight: bold;
        background: linear-gradient(to left, #00C853, #d359ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.topnav {
  overflow: hidden;
  background: linear-gradient(to left, rgba(0, 200, 83, 0.5), rgba(211, 89, 255, 0.5));
  & > a {
    float: left;
    display: block;
    color: $textColor;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: setFontSize(1.1);
    &:hover, &.active{
      background: rgba(255, 255, 255, 0.15);
    }
  }
  & .icon{
    display: none;
  }
  & .login{
    float: right;
    display: block;
  }
}

.sticky{
  background: linear-gradient(to left, rgba(0, 200, 83), rgba(211, 89, 255));
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .topnav {
    & > a {
      &:not(:first-child) {
        display: none;
      }
      &.icon {
        float: right;
        display: block;
      }
      &.login{
        float: right;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    & .icon{
      position: absolute;
      right: 0;
      top: 0;
    }
    & > a {
      float: none;
      display: block;
      text-align: left;
    }
    & > .login{
      position: absolute;
      right: 47.41px;
      top: 0;
    }
  }
  .topnav.responsive.sticky{
    position: fixed;
    top: 0;
  }
}

.content {
  min-height: 100%;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
   & .accordion {
    cursor: pointer;
    width: 100vw;
    margin: 2vw;
    padding: 2vw;
    @include borders(2px);
    background: none;
    text-align: left;
    outline: none;
    font-size: setFontSize(1.3);
    color: $textColor;
    &:hover, &:focus, &:active{
      background: linear-gradient(to left, #00C853, #d359ff);
      color: $bgColor;
    }
  }
  & .panel {
    padding: 0 calc(2vw + 10px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: setFontSize(1.1);
    text-align: left;
    & .result {
      font-size: setFontSize(1.5);
      background: linear-gradient(to left, #00C853, #d359ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & > p{
      background: linear-gradient(to left, #00C853, #d359ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
    & > a {
      text-decoration: none;
      color: $textColor;
    }
    & ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
      & li {
        text-align: justify;
        list-style-type: none;
        & i{
          background: linear-gradient(to left, #00C853, #d359ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  & > p{
    text-align: justify;
    margin: 0 2vw 2vw;
    padding: 0 2vw 2vw;
    font-size: setFontSize(1.3);
  }
  & .content-pages{
      margin: 2vw;
      padding: 2vw;
      width: 25vw;
      max-width: 200px;
      @include borders(2px);
      font-size: 5vw;
      text-decoration: none;
      color: $textColor;
      font-family: 'Staatliches', cursive;
      &:hover{
        background: linear-gradient(to left, #00C853, #d359ff);
        color: $bgColor;
        box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.2);
      }
  }
  & .content-pages.empty{
    color: $bgColor;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: $textColor;
    & > img{
      position: center;
      max-width: 200px;
      max-height: 200px;
    }
  }
}

footer {
  height: auto;
  text-align: center;
  & .footer-info{
    margin-right: 8vw;
    margin-left: 8vw;
    justify-content: space-around;
    & > a{
      margin: 1vw;
      text-align: left;
      display: table-row-group;
      color: $textColor;
      text-decoration: none;
    }
  }
  & .footer-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & > a {
      width: 40px;
      margin: 1vw;
      padding: 0.5vw 0.5vw;
      @include borders(2px);
      color: $textColor;
      font-size: setFontSize(2.0);
      font-weight: bold;
      &:hover{
        background: linear-gradient(to left, #00C853, #d359ff);
        color: $bgColor;
        }
      }
    }
  & > .footer-copy{
    padding-top: 4vw;
    padding-bottom: 1vw;
    display: block;
    font-size: setFontSize(0.9);
  }
}

.select-css {
  text-align: center;
  display: block;
  font-size: setFontSize(1.2);
  font-family: sans-serif;
  font-weight: 500;
  color: $textColor;
  line-height: 1.3;
  padding: 0.5em 1.5em;
  width: 300px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to left, #00C853, #d359ff);
  &::-ms-expand{
    display: none;
  }
  &:hover{
    border: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
  & > option {
    text-align: left;
    font-weight:500;
    color: $bgColor;
    & > :hover{
      background-color: #00C853;
      color: $textColor;
    }
  }
}

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}