@charset "UTF-8";

$bgColor: rgb(13, 26, 19);
$textColor: invert($bgColor);
$wordsColor1: rgb(0, 200, 83);
$wordsColor2: #d359ff;
$fontSize: 1.0em;
$minWidth: 300px;
$quantity: 15;

@function fontsize($amount){
  @return $fontSize * $amount;
}

pre, li pre{
  display: block;
  color: #ff771a;
  text-align: left;
  overflow-x: auto;
  ::-webkit-scrollbar {
    height: 0.5em;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $bgColor;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, $wordsColor1, $wordsColor2);
  }
}
pre {
  max-width: calc(100% - 40px);
  margin: 10px 20px;
}
li pre{
  max-width: 100%;
  margin: 10px 0;
}

@mixin borders($width){
  border: $width solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom,
          transparentize($wordsColor1, 0.5),
          transparentize($wordsColor2, 0.5),
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          transparentize($wordsColor2, 0.5),
          transparentize($wordsColor1, 0.5),
          transparentize($wordsColor2, 0.5),
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          transparentize($wordsColor2, 0.5),
          transparentize($wordsColor1, 0.5)
  );
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  text-align: center;
}

a{
  color: $textColor;
  &:hover, .active{
    color: lighten($wordsColor1, 30%) !important;
  }
}

hr{
  width: 100%;
  height: 6px;
  border: none;
  background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          transparentize($wordsColor1, 0.5),
          transparentize($wordsColor2, 0.5),
          rgba(0, 0, 0, 0));
  margin: 10px 0;
}

/*
[data-navtooltip]{
  cursor: pointer;
  position: relative;
}

[data-navtooltip]::after {
  color: $textColor;
  font-size:12px;
  padding: 4px 6px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  content: attr(data-navtooltip);
  transform: translate(-50%, -100%) scale(0);
  transform-origin: top;
  transition: 0.1s;
}

[data-navtooltip]:hover:after {
  display: block;
  transform: translate(-50%, -100%) scale(0.9);
}
*/

html, body {
  width: 100%;
  min-width: $minWidth;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // { background
    background-color: $bgColor;
    background-image: url(/files/bg2.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  // }
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 20px;
  font-size: 1.0em;
  color: $textColor;
  ::-webkit-scrollbar {
    width: 0.7em;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $bgColor;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to left bottom, $wordsColor1, $wordsColor2);
  }
}

header{
  .site-header{
    padding: 40px;
    font-size: min(70px, max(30px, 6.0vw));
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 200, 83, 0.5), rgba(211, 89, 255, 0.5), rgba(0,0,0,0));
    &:before{
      content: "<";
      color: $wordsColor2;
      font-size: min(70px, max(30px, 6.0vw));
    }
    &:after{
      content: "/>";
      color: $wordsColor1;
      font-size: min(70px, max(30px, 6.0vw));
    }
  }
}

nav{
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 200, 83, 0.5), rgba(211, 89, 255, 0.5), rgba(0,0,0,0));
  position: sticky;
  top: 0;
  .responsive {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto 0 auto;
    overflow: hidden;
  }
  .responsive a { // all elements
    cursor: pointer;
    float: left;
    margin: 12px;
  }
  .responsive a:last-of-type{ // menu
    display: none;
  }
  .responsive a:nth-of-type(-n+2){
    width: 45px;
    min-width: 45px;
    margin: 12px 0 12px 0;
  }
  .responsive a:nth-last-of-type(-n+4){ // last 4 elements
      float: right;
      width: 45px;
      min-width: 45px;
    margin: 12px 0 12px 0;
  }
}

.sticky{
  background: linear-gradient(to right, $wordsColor1, $wordsColor2);
  position: sticky;
  z-index: 10;
  top: 0;
}

@media screen and (max-width: 680px) {
  nav .responsive {
    position: relative;
  }
  nav .responsive a{ // all points
    float: none;
    display: block;
  }
  nav .responsive a:nth-of-type(n+3):nth-last-of-type(n+5) { // elements from 3 to 8
    display: none;
    text-align: left;
  }
  nav .responsive a:last-of-type{ // menu
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  nav .responsive a:nth-last-of-type(2){ // user
    position: absolute;
    top: 0;
    right: 135px;
  }
  nav .responsive a:nth-last-of-type(3){ // login
    position: absolute;
    top: 0;
    right: 90px;
  }
  nav .responsive a:nth-last-of-type(4){ // user
    position: absolute;
    top: 0;
    right: 45px;
  }
  nav .responsive a:nth-of-type(2){ // shop
    position: absolute;
    top: 0;
    left: 45px;
  }
  input#_1 ~ .HideAble{
    display:none;
  }
  input#_1:checked ~ .HideAble{
    display:block;
  }
}

.collapse{
  cursor: pointer;
}
input#_1{
  display: none; /* hide the checkboxes */
}

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  & label {
    text-align: left;
    font-size: fontsize(.7);
    line-height: .6;
    & sup{
      color: $wordsColor2;
      font-size: fontsize(1.3);
    }
  }
  & > input {
    width: 200px;
    margin: 8px auto;
    padding: 4px 6px;
    color: $bgColor;
    text-align: left;
    border: none;
    background: $textColor;
    &:focus, :active {
      border: none;
      outline: solid 2px $wordsColor1;
    }
  }
  & > button {
    width: 212px;
    margin: 8px auto 40px auto;
    padding: 4px 6px;
    color: $bgColor;
    text-align: center;
    font-family: Arial, FontAwesome, serif;
    border: none;
    background: $textColor;
  }
}

.button-css{
  text-align: center;
  display: block;
  font-size: $fontSize;
  font-weight: 500;
  color: $textColor;
  line-height: 1.3;
  padding: 0.5em 1.5em;
  width: auto;
  box-sizing: border-box;
  margin: 0;
  @include borders(2px);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  &::-ms-expand{
    display: none;
  }
  &:hover{
    @include borders(2px);
    background: linear-gradient(to right bottom,
                transparentize($wordsColor1, 0.7),
                transparentize($wordsColor2, 0.7)
    ) no-repeat center center;
    background-size: 100% 100%;
  }
  &:focus {
    @include borders(2px);
    outline: none;
  }
  & > option {
    text-align: left;
    font-weight:500;
    color: $bgColor;
    & > :hover{
      background-color: $wordsColor1;
      color: $textColor;
    }
  }
}

.content{
  flex: 1 0 auto;
  margin: 40px auto;
  padding-bottom: 10px;
  max-width: min(1000px, calc(100% - 40px));
  min-width: min(calc(100% - 40px), 1000px);//$minWidth;
  background: transparentize($bgColor, 0.1);

  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &:last-child{
    margin-bottom: 10px;
  }
  & > p, b {
    margin: 10px 20px;
  }
  & > a, ul{
    margin: 0 20px;
  }
  @include borders(2px);
  & > h3 {
    width: 100%;
    line-height: 40px;
  }
  p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8;
  }
  p i, a i, li i, b i {
    color: $wordsColor1;
  }
  .button-css{
    margin: 10px 20px;
  }
  & ul{
    max-width: calc(100% - 40px);
    list-style-type: none;
    & li {
      text-align: justify;
      list-style-type: none;
      margin: 5px 0 5px 0;
    }
    li ul{
      margin-left: 20px;
    }
  }
  .article-elements{
    width: calc(100% - 40px);
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  .article-tab{
    width: calc(100% - 40px);
    table-layout: fixed;
    overflow-wrap: break-word;
    margin: 10px 20px;
    font-size: fontsize(0.7);
    font-weight: 100;
    border: none;
    thead{
      font-stretch: extra-condensed;
    }
    tbody tr:nth-child(2n+1){
       background: transparentize($wordsColor1, 0.9);
    }
    tbody tr:nth-child(2n){
      background: transparentize($wordsColor2, 0.9);
    }
    thead tr, tbody tr{
      border-bottom: 1px solid transparentize($textColor, 0.8);
    }
    thead tr td, tbody tr td{
      color: $textColor;
      border: none;
    }
    tbody tr td a.table-link i{
      cursor: pointer;
      color: $textColor;
      &:hover {
        color: $wordsColor2;
        transition: .2s;
      }
    }
  }
  .todoList{
    min-width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 15px;
      padding: 15px;
      font-size: 0.85em;
      color: transparentize($textColor,0.7);
      transform: rotate(5deg);
      transition-duration: 0.2s;
      line-height: 1.8;
      @include borders(1px);
      &:hover{
        transform: rotate(0deg) scale(1.1);
        color: $textColor;
        background: transparentize($bgColor, 0.6);
      }
    }
  }
}

@media screen and (max-width: 680px){
  .table-title, .table-status, .table-modified{
    display: none;
  }
}

table{
  margin: 10px 20px;
  border-collapse: collapse;
  td, th {
    border: 1px solid white;
    text-align: center;
    padding: 8px;
  }
  th{
    color: $wordsColor1;
  }
  td{
    color: $textColor;
  }
}

footer{
  flex: 0 0 auto;
  width: 100%;
  & a.media {
    display: inline-block;
    margin: 20px;
    font-size: 2.0em;
    color: $textColor;
  }
  & .helpful{
    margin: 20px auto 20px auto;
    max-width: 1000px;
    width: 95%;
    columns: 150px auto;
    column-gap: 15px;
    text-align: left;
    & a {
      display: flex;
      color: $textColor;
      font-size: 1.0em;
      font-weight: 100;
      justify-content: center;
    }
  }
  & p.copyright{
    margin: 20px 0 10px 0;
    font-size: 0.9em;
    font-weight: 100;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:$textColor;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

input, .button-css{
  font-family: Arial, FontAwesome, serif;
}