@charset "UTF-8";

$bgColor: rgb(13, 26, 19);
$textColor: invert($bgColor);
$wordsColor1: rgb(0, 200, 83);
$wordsColor2: #d359ff;
$fontSize: 1.0em;
$minWidth: 300px;
$quantity: 15;

@mixin borders($width){
  border: $width solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom,
          transparentize($wordsColor1, 0.5),
          transparentize($wordsColor2, 0.5),
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          transparentize($wordsColor2, 0.5),
          transparentize($wordsColor1, 0.5),
          transparentize($wordsColor2, 0.5),
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          #00000000,
          transparentize($wordsColor2, 0.5),
          transparentize($wordsColor1, 0.5)
  );
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  text-align: center;
}

a{
  color: $textColor;
  &:hover, .active{
    color: lighten($wordsColor1, 30%) !important;
  }
}
/*
[data-navtooltip]{
  cursor: pointer;
  position: relative;
}

[data-navtooltip]::after {
  color: $textColor;
  font-size:12px;
  padding: 4px 6px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  content: attr(data-navtooltip);
  transform: translate(-50%, -100%) scale(0);
  transform-origin: top;
  transition: 0.1s;
}

[data-navtooltip]:hover:after {
  display: block;
  transform: translate(-50%, -100%) scale(0.9);
}
*/

html, body {
  width: 100%;
  min-width: 350px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // { background
    background-color: $bgColor;
    background-image: url(/files/bg2.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  // }
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 20px;
  font-size: 1.0em;
  color: $textColor;
}

header{
  h1{
    padding: 40px;
    font-size: min(70px, max(30px, 6.0vw));
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 200, 83, 0.5), rgba(211, 89, 255, 0.5), rgba(0,0,0,0));
  }
}

nav{
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 200, 83, 0.5), rgba(211, 89, 255, 0.5), rgba(0,0,0,0));
  position: sticky;
  top: 0;
  .responsive {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto 0 auto;
    overflow: hidden;
  }
  .responsive a { // all elements
    cursor: pointer;
    float: left;
    padding: 12px;

  }
  .responsive a:last-of-type{ // menu
    display: none;
  }
  .responsive a:nth-of-type(-n+2){
    width: 45px;
    min-width: 45px;
    padding: 12px 0 12px 0;
  }
  .responsive a:nth-last-of-type(-n+4){ // last 4 elements
      float: right;
      width: 45px;
      min-width: 45px;
      padding: 12px 0 12px 0;
  }
}

.sticky{
  background: linear-gradient(to right, $wordsColor1, $wordsColor2);
  position: sticky;
  z-index: 10;
  top: 0;
}

@media screen and (max-width: 680px) {
  nav .responsive {
    position: relative;
  }
  nav .responsive a{ // all points
    float: none;
    display: block;
  }
  nav .responsive a:nth-of-type(n+3):nth-last-of-type(n+5) { // elements from 3 to 8
    display: none;
    padding: 12px;
    text-align: left;
  }
  nav .responsive a:last-of-type{ // menu
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  nav .responsive a:nth-last-of-type(2){ // user
    position: absolute;
    top: 0;
    right: 135px;
  }
  nav .responsive a:nth-last-of-type(3){ // login
    position: absolute;
    top: 0;
    right: 90px;
  }
  nav .responsive a:nth-last-of-type(4){ // user
    position: absolute;
    top: 0;
    right: 45px;
  }
  nav .responsive a:nth-of-type(2){ // shop
    position: absolute;
    top: 0;
    left: 45px;
  }
  input#_1 ~ .HideAble{
    display:none;
  }
  input#_1:checked ~ .HideAble{
    display:block;
  }
}

.collapse{
  cursor: pointer;
}
input#_1{
  display: none; /* hide the checkboxes */
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  & > input {
    width: 200px;
    margin: 8px auto;
    padding: 4px 6px;
    color: $bgColor;
    text-align: left;
    font-family: Arial, FontAwesome, serif;
    border: none;
    background: $textColor;
  }
  & > button {
    width: 212px;
    margin: 8px auto 40px auto;
    padding: 4px 6px;
    color: $bgColor;
    text-align: center;
    font-family: Arial, FontAwesome, serif;
    border: none;
    background: $textColor;
  }
}

.content{
  flex: 1 0 auto;
  max-width: 1000px;
  width: 95%;
  //min-height: 1200px;
  background: #13211ED9;
  margin: 40px auto 40px auto;
  padding: 10px 0 10px 0;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @include borders(2px);
  & > h3 {
    line-height: 40px;
  }
  p {
    margin: 0 10px 10px 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8;
    width: 100%;
  }
  & > .content-links{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  & ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    & li {
      text-align: justify;
      list-style-type: none;
      & i{
        color: $wordsColor1;
      }
    }
  }
  .card {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 15px;
    padding: 15px;
    font-size: 0.85em;
    color: transparentize($textColor,0.7);
    transform: rotate(5deg);
    transition-duration: 0.2s;
    line-height: 1.8;
    @include borders(1px);
    &:hover{
      transform: rotate(0deg) scale(1.1);
      color: $textColor;
      background: transparentize($bgColor, 0.6);
    }
  }
}

footer{
  flex: 0 0 auto;
  width: 100%;
  & a.media {
    display: inline-block;
    margin: 20px;
    font-size: 2.0em;
    color: $textColor;
  }
  & .helpful{
    margin: 20px auto 20px auto;
    max-width: 1000px;
    width: 95%;
    columns: 150px auto;
    column-gap: 15px;
    text-align: left;
    & a {
      display: flex;
      color: $textColor;
      font-size: 1.0em;
      font-weight: 100;
      justify-content: center;
    }
  }
  & p.copyright{
    padding: 20px 0 6px 0;
    font-size: 0.9em;
    font-weight: 100;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:$textColor;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}