@import 'variables.scss';
@import 'mixins.scss';

p.date{
  font: 400 12px/15px 'Lora', serif;
  color: $hBodyTextColor2;
  margin-top: 15px;
}
p.title{
  font: 700 18px/25px 'Lora', serif;
  color: $hBodyTextColor;
  margin-top: 15px;
}
p.text{
  font: 400 12px/15px 'Lora', serif;
  color: $hBodyTextColor2;
  margin-top: 15px;
}

span.br{
  display: block;
}

span.double{
  margin-bottom: 25px;
}

a:hover{
  @include scale(1.05);
  @include transition(.2s);
}

