@import "variables.scss";
@import "mixins.scss";

html, body{
  margin: 0;
  max-width: 100vw;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 29px 0;
  background: transparentize(#000, 0.8);
  @include transition(.4s);
  z-index: 10;
  @media #{$tablets}{
    position: unset;
    background: transparentize(#000, 0.2);
  }
  .nav-block {
    @include adaptiveMargin;
    @include flexProperty {display: flex; justify-content: space-between; align-items: center;};
    &-logo {
      font: 700 20px/22px $fontSpartan;
      color: $logoColor;
    }
    li{
      display: inline-block;
      margin-left: 23px;
    }
    &-menu{
      font: 700 12px/14px $fontRoboto;
      color: $menuColor;
      padding-bottom: 9px;
    }
  }
}

.header-main{
  margin: 0 auto;
  position: relative;
  &-block {
    @media #{$tablets}{
      display: none;
    }
    img {
      width: 100%;
      max-height: 600px;
    }
  }
  &-text{
    @include adaptiveFont(700, 36px, 46px, $fontLora);
    position: absolute;
    top: 50%;
    left: calc((100% - 1300px) / 2);
    @include translate (0, -50%);
    color: $whiteColor;
    @media #{$full-hd}{
      left: 70px;
    }
    @media #{$tablets}{
      display: none;
    }
  }
  &-text.newsPage{
    text-align: center;
    top:50%;
    left: 50%;
    @include translate (-50%, -50%);
    .small-text{
      font: 400 12px/20px $fontLora;
      color: $menuColor;
      margin-top: 13px;
    }
  }
}

.content {
  &-news {
    margin: 100px auto;
    @media #{$tablets}{
      margin: 40px auto;
    }
    &-header {
      @include adaptiveMargin;
      margin-bottom: 38px;
      position: relative;
      @include flexProperty {
        display: flex;
        justify-content: space-between;
      }
      color: $hBodyTextColor;
      h3 {
        font: 700 36px/46px $fontLora;
      }
      a {
        font: 700 12px/25px $fontLora;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    &-body {
      @include adaptiveMargin;
      @include flexProperty {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      column-gap: 20px;
      row-gap: 50px;
      @media #{$tablets-big}{
        @include flexProperty {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      }
      @media #{$phones}{
        @include flexProperty {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      &-item {
        width: 310px;
        //@media #{$tablets}{
        //  width: 100%;
        //}
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &-single{
    @include adaptiveMargin2;
    font: 400 14px/25px $fontLora;
    color: $hBodyTextColor;
    margin: 100px auto 50px auto;
    word-break: normal;
    border-bottom: 1px solid $line;
  }
  &-author{
    @include adaptiveMargin2;
    margin: 0 auto;
    @include flexProperty {display: flex; justify-content: space-between; align-items: center}
    &-profile{
      @include flexProperty {display: flex;align-items: center;}
      &-logo{
        width: 50px;
        height: 50px;
      }
      &-name{
        margin-left: 17px;
        font: 400 12px/20px $fontLora;
        color: $hBodyTextColor;
      }
    }
    &-media{
      .fa-brands {
        margin-left: 10px;
        color: $hBodyTextColor;
        font-size: 20px;
      }
    }
  }
  &-related{
    background-color: $bgRelated;
    margin: 100px auto 0 auto;
    padding: 100px 0;
    &-header {
      @include adaptiveMargin;
      margin-bottom: 50px;
      color: $hBodyTextColor;
      font: 700 18px/25px $fontLora;
      @media #{$tablets-big}{
        text-align: center;
      }
    }
    &-posts{
      @include adaptiveMargin;
      @include flexProperty { display: flex;   flex-wrap: wrap;   justify-content: space-between;}
      column-gap: 20px;
      row-gap: 50px;
      @media #{$tablets-big}{
        @include flexProperty { display: flex; flex-wrap: wrap;  justify-content: center;}
      }
      &-item{
        max-width: 420px;
        @media #{$phones}{
          max-width: 280px;
        }
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.content-below{
  background: $bgGray url("../../images/Image2.png")  no-repeat center center / cover;
  text-align: center;
  @include flexProperty {display: flex; flex-direction: column; justify-content: center; align-items: center;};
  @include adaptivePadding(224px);
  &-text {
    @include adaptiveMargin;
    @include adaptiveFont(700, 36px, 46px, $fontLora);
    color: $whiteColor;
  }
  &-small-text{
    @include adaptiveMargin;
    font: 400 12px/20px $fontLora;
    color: $menuColor;
    margin-top: 13px;
  }
}

footer{
  margin: 0 auto;
  background: #212529;
  .footer-body{
    @include adaptivePadding(106px);
    @include adaptiveMargin; // выдерживать отступ
    @include flexProperty {display: flex;};
    column-gap: 20px;
    @media #{$tablets-big} {
      @include flexProperty {display: flex; flex-wrap: wrap; justify-content: space-evenly;};
    }
    &-blocks {
      width: 300px;
      @media #{$tablets-big} {
        width: 220px;
        text-align: center;
        margin-bottom: 20px;
      }
      @media #{$phones-big} {
        border-bottom: 1px solid $bgGray;
      }
      h4{
        font: 700 18px/25px $fontLora;
        color: $whiteColor;
        margin-bottom: 15px;
      }
      p{
        font: 400 12px/15px $fontLora;
        color: $menuColor;
        margin-bottom: 18px;
      }
      p.lineHeight20{
        line-height: 20px;
      }
      ul{
        color: $menuColor;
        font: 400 12px/15px $fontLora;
        li{
          margin-bottom: 18px;
        }
      }
      .fa-brands {
        margin-right: 18px;
        color: $menuColor;
        font-size: 20px;
        margin-bottom: 18px;
        @media #{$desktop} {
          margin-right: 12px;
        }
      }
    }
  }
  .footer-bottom{
    width: 100%;
    padding: 31px 0;
    background: #343A40;
    &-div{
      @include adaptiveMargin; // выдерживать отступ
      @include flexProperty{display: flex; justify-content: space-between;}
      p{
        color: $menuColor;
        font: 700 14px/18px $fontLora;
      }
      .normal{
        font-weight: 400;
        float: right; // da!
      }
    }
  }
}