@import "variables.scss";
@import "mixins.scss";

html, body{
  margin: 0;
}

header {
  width: 1440px;
  height: 600px;
  background: #343A40 url("../images/Image.png")  no-repeat center center;
  margin: 0 auto;
  position: relative;
  & nav{
    width: 1440px;
    height: 80px;
    background: transparentize(#000,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo{
      font: 700 20px/22px 'Spartan', sans-serif;
      color: $logoColor;
      margin-left: 50px;
    }
    & ul{
      margin-right: 50px;
      & li{
        display: inline-block;
        margin-right: 23px;
        & .menu {
          font: 700 12px/14px 'Roboto', sans-serif;
          color: $menuColor;
          padding-bottom: 9px;
        }
        & .active{
          border-bottom: 2px solid #D4A373;
          color: $whiteColor;
        }
      }
    }
  }
  .header-text{
    font: 700 36px/46px 'Lora', serif;
    color: $whiteColor;
    position: absolute;
    top: 0;
    left: 0;
    @include setTransform(70px, 252px);
  }
}

.content{
  margin: 0 auto;
  width: 1440px;
  & .news{
    margin: 100px 70px 0 70px;
    & .news-header{
      position: relative;
      display: flex;
      justify-content: space-between;
      color: $hBodyTextColor;
      & h3{
         font: 700 36px/46px 'Lora', serif;
       }
      & a{
        font: 700 12px/25px 'Lora', serif;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    & .news-body{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 100px;
      & .news-item{
        margin-top: 50px;
        width: 310px;
        & img{
            width: 310px;
            height: 280px;
        }
      }
    }
  }
}

.below{
    background: #343A40 url("../images/Image2.png")  no-repeat center center;
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .below-text{
      font: 700 36px/46px 'Lora', serif;
      color: $whiteColor;
   }
  .below-text-small{
      font: 700 12px/20px 'Lora', serif;
      color: $menuColor;
      margin-top: 13px;
  }
}

footer{
  width: 1440px;
  margin: 0 auto;
  & .footer-body{
    width: 100%;
    height: 400px;
    background: #212529;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    & .footer-blocks {
      margin-top: 106px;
      width: 300px;
      & h4{
        font: 700 18px/25px 'Lora', serif;
        color: $whiteColor;
        margin-bottom: 15px;
      }
      & p{
        font: 400 12px/15px 'Lora', serif;
        color: $menuColor;
        margin-bottom: 18px;
      }
      & ul{
        color: $menuColor;
        font: 400 12px/15px 'Lora', serif;
        & li{
          margin-bottom: 18px;
        }
      }
      & img {
        margin-right: 18px;
      }
    }
  }
  & .footer-bottom{
    width: 100%;
    height: auto;
    background: #343A40;
    & p{
      padding: 31px 60px;
      color: $menuColor;
      font: 700 14px/18px 'Lora', serif;
    }
  }
}