body{
    margin: 0;
}

.wrapper{
    margin:0 auto;
    padding: 0;
    display: flex;
    max-width: 1440px;
}

.left-block, .right-block{
    width: 50vw;
}
.left-block{
    position: relative;
    background-image: url(../images/bg.png);
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-block:before{
    position: absolute;
    content: '';
    background-image: url(../images/logo.png);

    margin: auto;
    display: block;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 180px;
    height: 80px;
}

.right-block{
    padding: 0;
}

.right-block form{
    margin: 0 auto 97px auto;
    width: calc(100% - 80px);
    max-width: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

a{
    text-decoration: none !important;
    color: black;
}
a.add{
    font-family: Arial, FontAwesome, sans-serif;
    color: white;
}
a.table-link{
    color: grey;
}
a.table-link:hover{
    color: black;
    transition: 0.3s;
}
header{
    padding: 20px 40px;
    border-top: 2px solid rgba(114, 114, 114, 0.2);
    border-bottom: 2px solid rgba(114, 114, 114, 0.2);
    position: sticky;
    position: -webkit-sticky;

    top: 0;
    background: #fff;
}
a.logo{
    font: 700 24px/24px 'Spartan', sans-serif;
}

a.l-logout{
    font-size: 40px;
    line-height: 40px;
}

.div-logo{
    margin: 97px auto;
    width: calc(100% - 80px);
    max-width: 400px;
}

header a.active{
    border-bottom: 2px solid #D4A373;
}
header a.menu{
    float: right;
    margin: 0 0 auto 10px;
    font-weight: 700;
}
.content{
    margin: 10px 40px;
}
input{
    font-family: Arial, FontAwesome, sans-serif;
}

input[type="search"]:before{
    content: "test";
    color: red;
    font-size: 14px;
    display: block;
    bottom: 0;
    top: 0;
}

input:focus {
    background: rgba(212, 163, 115, 0.27);
    transition: 0.3s;
}
h4{
    font: 400 14px/16px 'Roboto Light', sans-serif;
    color: #D4A373;
}
h1{
    font: 700 24px/28px 'Roboto Light', sans-serif;
}
h1.h-logout{
    margin: 0 auto 30px auto;
    width: calc(100% - 80px);
    max-width: 400px;
    font-size: 36px;
}

.right-block form input {
    margin-bottom: 24px;
}
.btn{
    padding: 10px;
    border-radius: 6px;
}
.search{
    border: 1px solid rgba(114, 114, 114, 0.2);
    padding: 10px;
    width: 300px;
}
.input{
    border: 1px solid rgba(114, 114, 114, 0.2);
    padding: 10px;
    margin: 0;
}
.add{
    border: 2px solid #D4A373;
    background: #D4A373;
    color: white;
    float: right;
    margin: 0 0 20px 0;
}
.google{
    color: white;
    border: 2px solid black;
    background: black;
    margin: 0 0 20px 0;
}
.add:hover{
    background: #836847;
    border: 2px solid #836847;
    transition: 0.3s;
}
.google:hover{
    background: grey;
    border: 2px solid grey;
    transition: 0.3s;
}
.t-adaptive{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.t-adaptive tbody, .t-adaptive thead{
    display: table;
    width: 100%;
}

.t-adaptive thead tr, .t-adaptive tbody tr{
    border-bottom: 1px solid rgba(114, 114, 114, 0.2);
}
thead{
    color: #6C757D;
}
tbody{
    color: #495057;
}

thead tr, tbody tr{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

tbody tr td img{
    vertical-align: middle;
}

tr td:nth-child(3){
    font-weight: 500;
    min-width: 250px;
}

tr td:nth-child(1){
    width: 20px;
}
tr td:nth-child(2){
    width: 50px;
}
tr td:last-child{
    width: 30px;
}

tr td:nth-last-child(4), tr td:nth-last-child(3), tr td:nth-last-child(2){
    width: 160px;
}

tbody tr td{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    vertical-align: middle;
}

td i{
    color: #000000;
    font-weight: 100;
}

td{
    margin: 6px 0;
    padding: 8px 8px;
    border: none;
    text-align: left;
}

label{
    margin: 0 0 10px 0;
    font: 400 14px/16px 'Lora', serif;
    vertical-align: text-top;
}

.a-link{
    color: #D4A373;
}

form p{
    margin: 0;
}

form p a{
    text-align: right;
}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 990px){
    h1.h-logout{
        font-size: 32px;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 680px){
    .right-block{
        margin: 0 auto;
        width: 80vw;
    }
    h1.h-logout{
        font-size: 28px;
    }
    .left-block{
        display: none;
    }
}

@media screen and (max-width: 600px){
    h1.h-logout{
        font-size: 24px;
    }
    .right-block{
        width: 85vw;
    }
    .add{
        display: block;
        float: none;
        width: 180px;
        margin-top: 10px;
    }
    .search{
        width: 204px;
    }
    .content{
        margin: 10px 30px;
    }
}

@media screen and (max-width: 400px){
    .right-block{
        width: 100vw;
    }
    .right-block.div-logo, h1.h-logout, .right-block form{
        width: calc(100% - 20px);
    }
    .div-logo{
        text-align: center;
        margin: 30px auto;
    }
    h1.h-logout{
        font-size: 22px;
        text-align: center;
    }
    .content{
        margin: 10px 15px;
    }
}


@media screen and (max-width: 320px) {
    .content{
        margin: 8px 10px;
    }
    .div-logo, .h-logout, .right-block .form {
        width: 100vw;
    }
    header a.menu {
        margin: 2px 0 auto 10px;
    }
}